{% extends "main.html" %}

{% block head %}
<title>Home</title>
<style>
    .movie_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px
    }
    .small_movie {
        display: block;
        padding: 10px;
        background-color: #3c3c3f;
    }
    .small_movie img{
        width: 100%;
    }
</style>
{% endblock %}

{% block body %}

{% if watched_list %}
    <h2>Watched List</h2>
    <div class="movie_container">
    {% for movie in watched_list %}
        <div class="small_movie">{{ movie.title }}, <a href="/edit/{{ movie.id }}"> edit </a>, <a href="/delete/{{ movie.id }}">delete</a></div>
    {% endfor %}
    </div>
    <a href="/to_watch/" class="button">Go to To Watch list</a>

{% elif to_watch_list %}
    <h2>To Watch List</h2>
    <div class="movie_container">
    {% for movie in to_watch_list %}
        <div class="small_movie">{{ movie.title }}, <a href="/edit/{{ movie.id }}"> edit </a>, <a href="/delete/{{ movie.id }}">delete</a></div>
    {% endfor %}
    </div>

{% else %}
    <h1>Watch a movie!</h1>
{% endif %}
{% endblock %}