{% extends "theme.html" %}

{% block thead %}
    <style>
        #header {
            margin-bottom: 20px;
        }
        #web_name {
            color: white;
            text-decoration: none;
            display: inline-block;
        }
        #search input[type="submit"] {
            width: 12%;
        }
        #search label {
            width: 0px;
            height: 0px;
            display: block;
            float: right;
        }
        #id_search {
            border: none;
            width: 80%;
            padding: 15px;
        }
        #search {
            margin: auto;
        }
        #search label {
            visibility: hidden;
        }
        label[for="id_title"] {
            visibility: hidden;
            display: block;
            width: 0;
            height: 0;
        }
        #id_title {
            color: white;
            border: none;
            width: 100%;
            font-size: 20px;
            background: transparent;
        }
        #id_user_rating {
            background: transparent;
            border: none;
            color: white;
            -moz-appearance: textfield;
        }

    </style>
    {% block head %}{% endblock %}
{% endblock %}

{% block tbody %}
    <div id="header">
        <a href="/" id="web_name"><h1>movieTracker</h1></a>
        <form action="/search/" method="post" id="search">
            {% csrf_token %}
            {{ search_form }}
            <input type="submit" value="Submit">
        </form>
    </div>
    {% block body %}{% endblock %}
{% endblock %}
