{% extends "main.html" %}

{% block head %}
    <title>{{ movie.title }}</title>
{% endblock %}

{% block body %}
<div class="split_two">
    <img src="{{ img_src }}" width="100%">
    <div>
        <h2>{{ movie.title }}, {{ movie.year }}</h2>
        <p> Director: 
        {% for people in movie.director %}
            {{ people }}, 
        {% endfor %}    
        <br> <br>
        Cast: 
        {% for people in movie.cast %}
            {{ people.name }}, 
        {% endfor %}
        </p>
        <a href="/add/{{ movie.movieID }}/" class="button">Add to your Watched</a>
    </div>
</div>
{% endblock %}