{% extends "main.html" %}

{% block head %}
    <title> Search Results </title>
    <style>
        .search_movie {
            display: block;
            background-color: #3c3c3f;
            margin-bottom: 5px;
            padding: 35px;
        }
        .search_movie:hover {
            background-color: #5d5d61;
        }
    </style>
{% endblock %}

{% block body %}
<div id="search-results">
    {% if results %}
        {% for movie in results.items %}
            <a href="/page/{{ movie.0 }}" class="search_movie">
                <img src="{{movie.1.cover}}" width="50px"/> {{ movie.1.title }} ({{ movie.1.year }})
            </a>
        {% endfor %}
    {% else %}
        <h2>Add a movie!</h2>
    {% endif %}
</div>
{% endblock %}