{% extends "main.html" %}

{% block head %}
    <title>To Watch</title>
{% endblock %}

{% block body %}
    {% if to_watch_list %}
        <h2>To Watch List</h2>
        <div class="movie_container">
        {% for movie in to_watch_list %}
            <div class="small_movie">{{ movie.title }}: <a href="/edit/{{ movie.id }}"> edit </a> <a href="/delete/{{ movie.id }}">delete</a></div>
        {% endfor %}
        </div>
    {% endif %}
    <a href="/" class="button">Go back to Home</a>
{% endblock %}
